[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/x-wine-extension-rtf;
Exec=env WINEPREFIX="/home/runner/.wine" wine start /ProgIDOpen rtffile %f
NoDisplay=true
StartupNotify=true
Icon=97C1_wordpad.0
